.form {
  display: flex;
  width: 100%;
  background: #f6f6f6;
  padding: 20px 16px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  height: 28px;
  border: none;
  padding-left: 16px;
  border-radius: 4px 0 0 4px;
}

.button {
  background: #f37906;
  border: none;
  width: 80px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
}
