.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.left {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 8px;
}

.text {
  font-size: 20px;
}

.delete {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #a7a6ab;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
